@font-face			{font-family: arial; src: url('../FONTS/arial.ttf');}
@font-face			{font-family: ARMTB; src: url('../FONTS/ARMTB.ttf');}

body				{margin: 0%; padding: 0%; width: 100%; overflow: auto; background-color: white;}
#header			{margin: 0%; width: 100%; padding: 0%; height: 125px; font-family: arial; font-size: 14px;}
#logo			{margin: 0%; padding: 0%; float: left; width: 20%; height: 100%; background-size: 100% 100%; background-image: url("../IMAGES/logo.png");}
#accheader		{margin-top: 15px; padding-right: 1%; float: left; width: 79%; height: 25px; text-align: right;}
#menuheader		{margin: 0%; float: left; width: 80%; height: 50px; background-color: rgb(102,0,0);}
ul#menu 			{margin: 0%; padding: 0%; width: 100%; height: 100%; text-align: center; color: white; font-size: 18px; font-family: ARMTB;}
ul#menu li		{margin: 0%; padding: 0%; float: left; padding-top: 15px; width: 20%; height: 35px; list-style: none; box-shadow: 0px 5px 5px 0px black;}
ul#menu li:hover	{background-color: black;}
#catheader		{margin: 0%; padding-top: 10px; float: left; width: 80%; height: 20px;}
.link			{color: white; list-style: none;}
#footer			{margin-top: 10px; padding-top: 5px; float: left; font-size: 12px; font-family: arial; width: 100%; text-align: center;}
#searchline		{width: 90%; margin-left: 5%; padding: 0%; text-align: center; font-size: 14px; background-color: red; height: 25px;}
#boxsize		{width: 80%; height: 100%; float: left; margin: 0%; padding: 0%; background-color: green;}
#srchbutton	{width: 20%; height: 100%; float: left; margin: 0%; padding: 0%; background-color: red;}